{% extends "szablon.html" %}
{% block tytul %}Quiz – dodaj pytanie{% endblock %}
{% block h1 %}Quiz – dodaj pytanie{% endblock %}

{% block tresc %}
    <form method="POST">
    {{ form.csrf_token }}
    
    {{ form.pytanie.label }}<br>
    {{ form.pytanie }}<br>
    <br>
    {{ form.kategoria.label }}<br>
    {{ form.kategoria(class="form-control") }}<br>
    <br>
    
    <ol>
    {% for o in form.odpowiedzi %}
        <li>{{ o }}</li>
    {% endfor %}
    </ol>

    <input type="submit" value="Zapisz pytanie">
    </form>
{% endblock %}
